<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/message.css') }}">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="container pr-0 mr-0 ml-0 pl-0 mw-100" style="padding-top: 56px">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{{ path('home') }}">Slaque</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    {%  if app.user %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    {% endif %}
                </ul>
                {% if app.user %}
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                {% endif %}
                <ul class="navbar-nav text-left">
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("user_show") }}">Bonjour {{ app.user.username }}</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("user_logout") }}">Se déconnecter</a>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("user_register") }}">S'enregistrer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("user_login") }}">Se connecter</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
            {% block body %}

            {% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
